@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
.dropdown:hover>.dropdown-menu{
    display: block;
     }
     nav{
      font-size: medium;
      font-family: 'Merriweather', serif;
        background-color:white ;
        margin-bottom: 2rem;
     }

   nav{
      background-color:white;
   }
  .btn{
   font-family: 'Merriweather', serif;
      background-color:black !important;
      color:#68d4eb;
  };

  .dark-mode {
   background-color:black;
   color: white;
  }
.container2{
   margin-top: 90px;
}
body{
   font-size: medium;
   font-family: 'Merriweather', serif;
}