@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
.dropdown:hover>.dropdown-menu{
    display: block;
     }
     nav{
      font-size: medium;
      font-family: 'Merriweather', serif;
        background-color:white ;
        margin-bottom: 2rem;
     }

   nav{
      background-color:white;
   }
  .btn{
   font-family: 'Merriweather', serif;
      background-color:black !important;
      color:#68d4eb;
  };

  .dark-mode {
   background-color:black;
   color: white;

}
body{
   font-size: medium;
   font-family: 'Merriweather', serif;
}

body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}
input[type=text],select,textarea {
    
    width: 100%;
    padding:12px;
    border:1px solid #ccc;
    border: radius 4px;
    box-sizing:border-box;
    margin-top:6px;
  margin-bottom:16px;
  resize:vertical;
}

input[type=submit]{

    background-color:white;
    color:black;
    padding:12px 20px;
    border:none;
    border-radius:4px;
    cursor:pointer;
    text-align:center;
    
}
input[type=submit]:hover{
    background-color:#d051c1;
    
}

.container{
    border-radius:5px;
    background:white;
    padding:5px;
    margin-top: 20px;
    text-align:center;
}
p{
    text-align: center;
}
.pro{
  text-align: center;
  color:black;
 }

 .target::placeholder{
  color: black;
 }
 #subject{
  background-color: white;
 }
 .navbar-brand{
  text-decoration: none;
}
.container5{
   color: black;
font-family: "Merriweather", serif;
}