@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
.dropdown:hover>.dropdown-menu{
    display: block;
     }
     nav{
      font-size: medium;
      font-family: 'Merriweather', serif;
        background-color:white ;
        margin-bottom: 2rem;
     }
   .container5{
      color: black;
   font-family: "Merriweather", serif;
   }